<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.8.3" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.8.3" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="SpecFlow" version="3.6.23" targetFramework="net461" />
  <package id="SpecFlow.Assist.Dynamic" version="1.4.2" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="3.6.23" targetFramework="net461" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.6.23" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
</packages>